@import url(reset.css);

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

.header-content {
	height: 70px;
	background-color: #8ab73f;
	color: white;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	padding-left: 20px;
}

.header-logo {
	height: 50px;
	width: 50px;
	background-image: url(../img/eco-butovo-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 16px;
}

.header-text h1 {
	font-family: 'Scada', sans-serif;
	font-size: 22px;
}

.header-text p {
	font-size: 12px;
	padding-top: 6px;
	letter-spacing: 1px;
}

main {
	background-color: lightgrey;
	min-height: calc(100% - 140px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.box {
	width: 80%;
	margin-bottom: 40px;
	background-color: grey;
}

.column1-image, .column2-image, .column3-image {
	/*
	height: 100%;
	*/
	overflow: hidden;
}

.image-1 {
	background-image: url(../img/1-pet.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 70%;
}

.image-2 {
	background-image: url(../img/5-pp.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 70%;
}

.image-3 {
	background-image: url(../img/paperwaste.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 70%;
}

.image-1:hover, .image-2:hover, .image-3:hover {
	transform: scale(1.2);
}

.column1-text, .column2-text, .column3-text {
	padding: 20px;
	font-size: 14px;
	line-height: 18px;
}

.column1-text h1, .column2-text h1, .column3-text h1 {
	text-transform: uppercase;
	padding-bottom: 10px;
}

.footer-content {
	height: 70px;
	background-color: #8ab73f;
	color: white;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-left: 20px;
}

@media screen and (min-width: 667px) {
	main {
		min-height: calc(100% - 140px);
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 80%;
		margin: auto;

	}

	.box {
		width: calc((100% - 160px)/4);
		min-width: 300px;
		max-width: 500px;
		/*
		margin-right: 40px;
		*/
	}
}

/*
@media screen and (min-width: 1024px) {
	main {
		background-color: lightgrey;
		min-height: calc(100% - 140px);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 40px;
	}

	.box {
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: green;
	}

	.box-content {
		width: calc((100% - 40px)/2);
		min-width: 200px;
		margin-bottom: 40px;
		background-color: grey;
	}
}
*/