@import url(reset.css);

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

body {
	background-color: rgba(0, 0, 0, .1);
}

header {
	height: 80px;
	background-color: #8ab73f;
	color: white;
	text-transform: uppercase;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.logo-content {
	width: 80px;
	height: 80px;
	background-image: url(../img/eco-butovo-logo.png);
	background-repeat: no-repeat;
	margin-left: 20px;
}

.header-content {
	flex-shrink: 0;
}

.header-content h1 {
	font-family: 'Scada', sans-serif;
	font-size: 22px;
}

.header-content p {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	padding-top: 6px;
	letter-spacing: 1px;
}

.link-container {
	font-family: 'Montserrat', sans-serif;
	margin-left: auto;
	margin-right: 20px;
	font-size: 13px;
	letter-spacing: 1px;
	flex-shrink: 0;
}

.link-container a {
	text-decoration: none;
	color: white;
	padding-right: 10px;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
}

.image-container {
	height: 300px;
	background-image: url(../img/bg.jpg);
	background-position: center center;
	background-size: cover;
}

.text-container {
	width: 700px;
	margin: 30px auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align: justify;
}

.icons-container {
	width: 700px;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.icons-container p {
	line-height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.icons-container-1, .icons-container-2, .icons-container-3 {
	width: 200px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icons-container-1 a, .icons-container-2 a, .icons-container-3 a{
	text-decoration: none;
	color: black;
}
.icon-1 {
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-2 {
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-2.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon-3 {
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-3.png);
	background-repeat: no-repeat;
	background-position: center;
}

.news-container {
	width: 650px;
	margin: 40px auto;
	border: 3px solid #73962f;
	border-radius: 10px;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align: justify;
	display: flex;
	align-items: center;
}

.news-image {
	width: 150px;
	height: 150px;
	background-image: url(../img/news-image.jpg);
	background-size: cover;
	background-position: center center;
	flex-shrink: 0;
}

.news-text {
	padding-left: 20px;

}

.news-container a {
	text-decoration: none;
	color: black;
}

.news-text h1 {
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 10px;

}

.footer {
	height: 70px;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #8ab73f;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-left: 20px;
	display: flex;
	align-items: center;
}