@import url(reset.css);

html, body, .page {
	height: 100%;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	height: 90px;
	background: black;
	color: white;
	flex-grow: 0;
	flex-shrink: 0;
}

main {
	background-color: green;
	padding-bottom: 30px;
	flex-grow: 1;
	flex-shrink: 0;
	/*
	flex: 1 0 auto;
	*/
}

footer {
	background-color: red;
	height: 60px;
	flex-grow: 0;
	flex-shrink: 0;
	/*
	flex: 0 0 auto;
	*/
}

/*
.header {
	height: 90px;
	background: black;
	color: white;
}

main {
	background-color: green;
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 100px;
}

.footer {
	background-color: red;
	height: 80px;
	margin-top: -80px;
}
*/