@import url(reset.css);

main {
	min-height: calc(100% - 100px);
}

.columns {
	background-color: lightgrey;
	width: 80vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding-top: 50px;
	padding-bottom: 50px;
}

.column {
	width: calc((100% - 40px)/3);
	background-color: lightblue;
}

.image {
	background-image: url(../img/cat.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 80%;
}

header, footer {
	height: 50px;
	background-color: grey;
}