@import url(reset.css);

main {
	width: 80vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 40px auto;
}

.column-1, .column-2, .column-3 {
	width: calc((100% - 100px)/3);
	background-color: grey;
}

.image-container-1, .image-container-2, .image-container-3 {
	width: 100%;
	overflow: hidden;
 }

.image-1 {
	background-image: url(../img/cat.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 70%;
}

.image-2 {
	background-image: url(../img/cat.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 70%;
}

.image-3 {
	background-image: url(../img/cat.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 70%;
}
 
.image-1:hover, .image-2:hover, .image-3:hover {
	transform: scale(1.2);